@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Roboto:wght@500&display=swap");
@import "./data/styles.css";

body {
	margin: 0;
	font-family: var(--primary-font);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

@layer utilities{
	@keyframes slide-up {
		0% {opacity: 0; transform:translateY(40px)}
		100%{opacity: 1;transform:translateY(0px)}
	}

	.animate-slide-up{
		animation: slide-up 0.5s ease-in forwards;
	}
}


